[submodule "ddcli"]
	path = Vendor/ddcli
	url = https://github.com/zwaldowski/ddcli.git
[submodule "DDMinizip"]
	path = Vendor/DDMinizip
	url = https://github.com/zwaldowski/DDMinizip.git
[submodule "ParseKit"]
	path = Vendor/ParseKit
	url = https://github.com/zwaldowski/parsekit.git
[submodule "CocoaLumberjack"]
	path = Vendor/CocoaLumberjack
	url = https://github.com/zwaldowski/CocoaLumberjack.git
